$headerFontFamily: 'Josefin Sans',
sans-serif;
$mainFontFamily: 'Roboto',
sans-serif;
$titleColor: #c6d591;
$infoBoxBg: rgba(0,0,0,0.55);
$infoBoxTextColor: #fff;
$errorBoxBg: rgba(0,0,0,0.55);
$errorBoxTextColor: #fff;